<% include header %>
	<div class="form-group">
		<form name="createListForm" action="create-list" method="post" class="form-group">
			<label for="Topic"> Topic</label>
			<input name="topicName" placeholder="Topic name" class="form-control" width="200"><br>
			<input type="submit" id="Create Topic" class="btn btn-primary" value="Create Topic">
		</form>
	</div>
<% include footer %>
