<!DOCTYPE html>
<html>
	<head>
		<title>Favorites list</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
	</head>
	<body class="container">
		<h1>
			Topic name
			<a href="logout" class="btn btn-primary pull-right" style="margin-left:10px">Logout <%= usernameToDisplay %></a>
			<a href="new-entry" class="btn btn-primary pull-right" style="margin-left:10px">Add item to list</a>
			<a href="create-topic" class="btn btn-primary pull-right">Create a new list</a>
		</h1>