<% include header %>
<% if(list.length){ %>
	<% list.forEach(function(item){ %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="text-muted pull-right">
				<%= item.published %>
			</div>
			<%= item.title %>
		</div>
	</div>
	<% }) %>
	<% } else { %>
	No entries! <a href="/new-entry">Add an item?</a>
	<% } %>
<% include footer %>
