<% include header %>

<h2>Add new item.</h2>

<form method="post" role="form">
	<div class="form-group">
		<label for="title">Item</label>
		<input type="text" class="form-control" id="title" name="title" placeholder="Enter item here" required>
	</div>
	<div class="form-group">
		<input type="submit" value="Post Item" class="btn btn-primary"> 
	</div>
</form>

<% include footer %>