<% include header %>
	<div class="form-group">
        <form name="selectListForm" action="select-list" method="post" class="form-group">
			<label for="List"> Select List</label>
			<input name="listName" placeholder="List name" class="form-control" width="200"><br>
			<input type="submit" id="Select List" class="btn btn-primary" value="Select List">
		</form>
	</div>
<% include footer %>
